@model RequiredUploadFileViewModel

<div class="required-file-details">
    <div class="row row-eq-height">
        <div class="col-md-5">
            <div class="dropzone image" data-url="@Url.Action("TempStoreImageFile", "UploadMain")"></div>
            <input type="hidden" asp-for="Image" />
            <input type="hidden" asp-for="TempAudioName" />
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Artist"></label>
                <input asp-for="Artist" class="form-control" />
                <span asp-validation-for="Artist" class="text-danger"></span>

                <label asp-for="SelectCategoryViewModel.SelectedCategory"></label>
                <select asp-for="SelectCategoryViewModel.SelectedCategory" asp-items="@Model.SelectCategoryViewModel.CategorySelectList" class="form-control"></select>
                <span asp-validation-for="SelectCategoryViewModel.SelectedCategory" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*@Html.LabelFor(x => x.FileStreamLicenseViewModel.AllRightsReserved)
                @Html.RadioButtonFor(x => x.FileStreamLicenseViewModel.AllRightsReserved, "All Rights Reserved", new { @checked = true })

                @Html.LabelFor(x => x.FileStreamLicenseViewModel.CreativeCommons)
                @Html.RadioButtonFor(x => x.FileStreamLicenseViewModel.CreativeCommons, "Creative Commons")*@
            <hr />
        </div>
    </div>
</div>

<script type="text/CategoryHidden-template">
    <input type="hidden" asp-for="SelectCategoryViewModel.NewCategory" />
</script>