@model CommentViewModel

@{
    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="comment">
    @Model.DateSince

    @if (Model.UserName != null)
    {
        <a asp-action="User">@Model.UserName</a>
    }

    <div class="comment-body">
        @if (Model.OriginalCommentUserName != null)
        {
            <span><a asp-action="User">@Model.OriginalCommentUserName</a></span>
        }
        @Html.DisplayFor(x => Model.Body)
    </div>

    <div class="controls">
        <div class="likes">
            @Model.Likes
        </div>
        <a asp-action="Rate" asp-route-id="@Model.Id" asp-route-liked="true" class="rating">
            <i class="fa fa-arrow-up" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
        </a>

        <div class="dislikes">
            @Model.Dislikes
        </div>
        <a asp-action="Rate" asp-route-id="@Model.Id" asp-route-liked="false" class="rating">
            <i class="fa fa-arrow-down" data-toggle="tooltip" data-placement="bottom" title="Dislike"></i>
        </a>

        @if (Model.UserId != null)
        {
            if (Model.UserId == currentUserId)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">
                    <i class="fa fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                </a>
            }
            <a asp-action="Report" asp-route-id="@Model.Id">
                <i class="fa fa-flag" data-toggle="tooltip" data-placement="bottom" title="Report"></i>
            </a>

            if (Model.UserId == currentUserId || User.IsInRole("Admin"))
            {
                <a asp-action="Delete" asp-route-id="@Model.Id">
                    <i class="fa fa-times" data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
                </a>
            }
        }
    </div>

    <div class="reply-body">
        <a asp-action="Reply" asp-route-originalCommentId="@Model.OriginalCommentId" class="@(Model.UserId == currentUserId ? "disabledd" : "")">
            Reply
        </a>
    </div>

    @Html.DisplayFor(x => x.ReplyViewModels)

    @if (Model.ReplyViewModels.Count() >= 2)
    {
        <div class="text-center">
            <a asp-action="ViewAllReplies" asp-route-id="@Model.Id" class="show-more">
                View All Replies
            </a>
        </div>
    }
</div>