@model FileStreamsViewModel

<div class="col-md-5ths">
    <div class="audio-wrapper" data-audio-id="@Model.Id" data-playlist-url="@Url.Action("Playlist", new { id = Model.Id })">
        <div class="poster-wrapper">
            <img src="@Model.ImagePath" class="cover-image" />
            <i class="fa fa-play"></i>

            <div class="controls">
                <a asp-action="Rate" asp-controller="Comment" asp-route-id="Id" asp-route-liked="true">
                    <i class="fa fa-arrow-up"></i>
                </a>
                <a asp-action="Rate" asp-controller="Comment" asp-route-id="Id" asp-route-liked="false">
                    <i class="fa fa-arrow-down"></i>
                </a>
                <a asp-action="Create-Playlist" asp-route-id="Id">
                    <i class="fa fa-plus"></i>
                </a>
                <a asp-action="Request-Deletion" asp-route-id="Id">
                    <i class="fa fa-flag"></i>
                </a>
                <a asp-action="Download" asp-route-id="Id">
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>

        <div class="display">
            @Model.Name
            @Model.Artist
        </div>

        <div class="view-counts" data-url="@Url.Action("IncrementView", "Audio", new { id = Model.Id })">
            <input type="hidden" asp-for="Id"/>

            @Model.UniqueViews
            <i class="fa fa-eye"></i>
        </div>

        @{ Html.RenderPartial("Audio/_Ratings", Model); }
    </div>
</div>